groups:
- name: alert.rules
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      description: '{{ alert_description }} for more than 1 minute.'
      summary: Instance {{ label_instance }} down
  
  - alert: EndpointDown
    expr: probe_success == 0
    for: 10s
    labels: 
      severity: "critical"
    annotations:
      summary:
        "Endpoint {{ label_instance }} is down."
  
  - alert: KubernetesPodNotHealthy
    expr: min_over_time(sum by (namespace, pod) (kube_pod_status_phase{phase=~"Pending|Unknown|Failed"})[15m:1m]) > 0
    for: 0m
    labels:
      severity: critical
    annotations:
      summary: Kubernetes Pod not healthy (instance {{ label_instance }})
      description: "Pod has been in a non-ready state for longer than 15 minutes."
  
  - alert: KubernetesPodCrashLooping
    expr: increase(kube_pod_container_status_restarts_total[1m]) > 3
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: Kubernetes pod crash looping (instance {{ label_instance }})
      description: "Pod {{ labels_pod }} is crash looping\n  VALUE = {{ value }}\n  LABELS = {{ labels }}"

  - alert: PostgresInstanceDown
    expr: pg_up == 0
    for: 1m
    labels:
      severity: critical
      service: "PostgreSQL"
    annotations:
      summary: "Postgres server instance is down"
      description: "Postgres has not been responding for the past 1 minutes on {{ label_instance }}"
      title: "Postgres server instance {{ label_instance }} is down "

  - alert: PostgresTooManyDeadTuples
    expr: ((pg_stat_user_tables_n_dead_tup > 1e+06) / (pg_stat_user_tables_n_live_tup + pg_stat_user_tables_n_dead_tup)) >= 0.05
    for: 30m
    labels:
      severity: warning
      service: "PostgreSQL"
    annotations:
      summary: "PostgreSQL dead tuples is too large"
      description: "The dead tuple ratio of {{ labels_relname }} on database {{ labels_datname }} is greater than 5% in cluster {{ labels_cluster_name }}"

  - alert: PostgresInactiveReplicationSlots
    expr: pg_replication_slots_active == 0
    for: 30m
    labels:
      severity: warning
      service: "PostgreSQL"
    annotations:
      summary: "There are inactive replications slots"
      description: "The are some inactive replication slots on {{ label_instance }} in cluster {{ labels_cluster_name }}"

  - alert: PostgresSplitBrain
    expr: count by(cluster_name) (pg_replication_is_replica == 0) > 1
    for: 1m
    labels:
      severity: critical
      service: "PostgreSQL"
    annotations:
      summary: "There are more than one instance in read-write mode"
      description: "Split Brain: too many postgres databases in cluster {{ labels_cluster_name }} in read-write mode"

  - alert: PostgresTooManyConnections
    expr: sum by (datname) (pg_stat_activity_count{datname!~"template.*|postgres"}) > pg_settings_max_connections * 0.9
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: Postgresql too many connections (instance {{ label_instance }} in cluster {{ labels_cluster_name }})
      description: "PostgreSQL instance has too many connections\n  VALUE = {{ value }}\n  LABELS: {{ labels }}"

  - alert: PostgresNotEnoughConnections
    expr: sum by (datname) (pg_stat_activity_count{datname!~"template.*|postgres"}) < 5
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: Postgresql not enough connections (instance {{ label_instance }} in cluster {{ labels_cluster_name }})
      description: "PostgreSQL instance should have more connections (> 5)\n  VALUE = {{ value }}\n  LABELS: {{ labels }}"

  - alert: PostgresPromotedNode
    expr: pg_replication_is_replica and changes(pg_replication_is_replica[1m]) > 0
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "Postgresql promoted node (instance {{ label_instance }}, cluster {{ labels_cluster_name }})"
      description: "Postgresql standby server has been promoted as primary node\n  VALUE = {{ value }}\n  LABELS: {{ labels }}"
    # Connection Pooling alerts

  - alert: PgBouncerWaitingClients
    expr: pgbouncer_show_pools_cl_waiting > 0
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: PgBouncer has waiting clients on instance {{ label_instance }} in cluster {{ labels_cluster_name }})
      description: "PgBouncer instance has waiting clients\n  VALUE = {{ value }}\n  LABELS: {{ labels }}"

  - alert: PgBouncerNotEnoughConnections
    expr: (sum by (database,instance) (pgbouncer_show_pools_cl_active{database!~"template.*|postgres|pgbouncer"}) + sum by (database, instance) (pgbouncer_show_pools_cl_waiting{database!~"template.*|postgres|pgbouncer"}))  - on (database,instance) (pgbouncer_show_databases_pool_size{database!~"template.*|postgres|pgbouncer"}) > 0
    for: 10m
    labels:
      severity: critical
    annotations:
      summary: PgBouncer pool size is not enough for the current connections on {{ label_instance }} in cluster {{ labels_cluster_name }})
      description: "PgBouncer is getting more connections than the pool size, extra connections = {{ value }}"

  - alert: PgBouncerPoolFillingUp
    expr: (sum by (database,instance) (pgbouncer_show_databases_pool_size{database!~"template.*|postgres|pgbouncer"})  - on (database,instance) pgbouncer_show_databases_current_connections)  <= 15
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: PgBouncer pool is filling up on {{ label_instance }} in cluster {{ labels_cluster_name }})
      description: "PgBouncer pool is filling up, remaining connections = {{ value }}"

  - alert: PgBouncerAvgWaitTimeTooHigh
    expr: pgbouncer_show_stats_avg_wait_time > 1e+6
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: PgBouncer time spent by clients waiting for a connections is too high on {{ label_instance }} in cluster {{ labels_cluster_name }})
      description: "PgBouncer wait for a server connections is too high = {{ value }}"

  - alert: PgBouncerQueryTimeTooHigh
    expr: pgbouncer_show_stats_avg_query_time > 5e+6
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: PgBouncer average query duration more than 5 seconds on {{ label_instance }} in cluster {{ labels_cluster_name }})
      description: "PgBouncer average query duration more than 5 seconds = {{ value }}"

  - alert: DatabaseLowDiskAvailable
    expr: (1.0 - node_filesystem_avail_bytes{mountpoint="/var/lib/postgresql",fstype!=""} / node_filesystem_size_bytes{mountpoint="/var/lib/postgresql",fstype!=""}) * 100 >= 80
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: Database disk is filling up currently have less than 20% available on {{ label_instance }} in cluster {{ labels_cluster_name }})
      description: "Database disk is filling up currently have less than 20%, currently occupied {{ value }} %"
  
  - alert: PostgresExporterErrors
    expr: pg_exporter_last_scrape_error == 1
    for: 10m
    labels:
      severity: critical
      service: "PostgreSQL"
    annotations:
      summary: "Postgres Exporter is down or is showing errors"
      description: "postgres-exporter is not running or it is showing errors {{ label_instance }}"
  
