global:
 resolve_timeout: 5m
 telegram_api_url: "https://api.telegram.org"

receivers:
 - name: blackhole
 - name: telegram-test
   telegram_configs:
    - chat_id: -1002220922641
      bot_token: 7177919128:AAHlc9BLPp1xZfR1Zr7R7mgyBjr5oO25utI
      api_url: "https://api.telegram.org"
      send_resolved: true
      parse_mode: HTML
      message: "Alertmanager \n--\n Alertname: {{ alert1 }}\n Severity: {{ alert2 }}\n {{ alert3 }}{{ alert4 }}\n{{ alert5 }}"


route:
 group_by: ['ds_id'] # Алерты группируются по UUID кластера.
 group_wait: 15s
 group_interval: 30s
 repeat_interval: 12h
 receiver: telegram-test
 routes:
  - receiver: telegram-test
    continue: true
    matchers:
     - severity="critical"
  - receiver: blackhole
    matchers:
     - alertname="Watchdog"